.startScreen {
  height:20rem;
  width:20rem;
    background-image: url('../../public/images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17rem 17rem;
    
    position: relative;
  }

.resultScreen{
  height:20rem;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}