.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem;
    border: solid hsl(217, 16%, 45%) 4px;
    height: 6rem;
    width: 90%;
    border-radius: 10px;
    transform:translateY(-30%);
}
.header .img{
    /* width="115" height="114" */
    border: solid red 2px;
}