.resultScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.resultScreen span{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background-color: rgb(34, 30, 59);
}
.resultScreen h3{
    transform: translateY(-10rem);
}
.resultScreen div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultScreen p{
    font-size: 4rem;
    margin: 0rem 10rem;
}